<div class="profile-div">
  <div class="details">
    <table>
      <th>User details</th>
      <tr>
        <td>details</td>
        <td>will not</td>
        <td>appear</td>
      </tr>
      <tr>
        <td>in this</td>
        <td>form</td>
        <td>this</td>
      </tr>
      <tr>
        <td>is just</td>
        <td>a test</td>
        <td>.</td>
      </tr>
    </table>
    <p>Details</p>
  </div>
  <div class="go-back-button-div">
    <button mat-flat-button class="go-back-button" (click)="goBack()">⬅ Back</button>
  </div>
</div>
