.company-form {
  display: flex;
  flex-direction: column;
  width: 40vh;
}

.edit {
  color: var(--mat-sys-on-background);
}

.check {
  color: green;
}

.close {
  color: red;
}

button[mat-icon-button]:disabled .check {
  color: lightgrey;
}

mat-card {
  background-color: var(--mat-sys-background);
}

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38vh;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  margin: 5px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  padding: 16px;
}

mat-card-actions button {
  width: 100%;
}
