.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 30vh;
}

.login-form button {
  margin: 5px;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  z-index: 1000;
}

.registration-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  margin: 5px;
}

mat-card {
  background-color: aliceblue;
}

mat-card-header {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

mat-card-content {
  display: flex;
  justify-content: center;
}

mat-card-actions {
  margin: 0px 5px;
  padding: 16px 16px 8px 16px;
}
