.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 30vh;
}

.login-form button {
  margin: 5px;
}

mat-form-field {
  margin: 5px;
}

mat-card {
  background-color: aliceblue;
}

mat-card-header {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

mat-card-actions {
  margin: 0px 5px;
  padding: 16px 16px 8px 16px;
}
