<div class="card-container">
  <mat-card *ngIf="contact">
    <mat-card-header>
      <mat-card-title>
        <span> My profile </span>
        <span>
          @if (!isEditing) {
          <button mat-icon-button (click)="toggleEdit()">
            <mat-icon class="edit"> edit </mat-icon>
          </button>
          } @else {
          <button mat-icon-button [disabled]="!isFormValid" (click)="save()">
            <mat-icon class="check"> check </mat-icon>
          </button>
          <button mat-icon-button (click)="toggleEdit()">
            <mat-icon class="close"> close </mat-icon>
          </button>
          }
        </span>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="profile-image-container">
        <advanced-image [cldImg]="profileImage" class="profile-image" />
        @if (isEditing) {
        <button mat-flat-button (click)="openFileDialog(fileInput)">
          <mat-icon>add_photo_alternate</mat-icon>
          <span> Upload image </span>
        </button>
        <input #fileInput type="file" [hidden]="true" (change)="onFileSelected($event)" />
        <button mat-flat-button color="danger-button" (click)="deleteProfileImage()">
          <mat-icon>delete_forever</mat-icon>
          <span> Delete image </span>
        </button>
        }
      </div>
      <form class="profile-form" [formGroup]="profileForm">
        <mat-form-field appearance="outline">
          <mat-label>id</mat-label>
          <input matInput formControlName="id" [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>company id</mat-label>
          <input matInput formControlName="companyId" [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>email</mat-label>
          <input matInput type="email" formControlName="email" [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>name</mat-label>
          <input matInput formControlName="name" [readonly]="!isEditing" />
          <mat-error *ngIf="!profileForm.get('name')?.valid && profileForm.get('name')?.touched">Please enter a valid name.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>phone</mat-label>
          <input matInput formControlName="phone" [readonly]="!isEditing" />
          <mat-error *ngIf="!profileForm.get('phone')?.valid && profileForm.get('phone')?.touched"> Please enter a valid phone number. </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        <span> Go Back </span>
      </button>
      <button mat-flat-button color="danger-button" (click)="openDialog()">
        <mat-icon>delete_forever</mat-icon>
        <span> Delete Account </span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
