mat-card {
  width: 90%;
}

mat-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

mat-card-subtitle {
  color: #5b80ca;
  font-style: italic;
}

p {
  text-align: justify;
}
