/* You can add global styles to this file, and also import other style files */
/* Importing @ngxpert/hot-toast SCSS file. */
@use '@ngxpert/hot-toast/styles';
@use '@angular/material' as mat;

.mat-danger-button {
  @include mat.button-overrides(
    (
      filled-container-color: var(--mat-sys-error),
    )
  );
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.profile-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 20px 0px;
}

.profile-image-container button {
  width: 100%;
}

.profile-image {
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        theme-type: light,
      ),
      typography: Roboto,
    )
  );
}

.darkMode {
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        theme-type: dark,
      ),
    )
  );
}

body {
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}
