<div *ngIf="isLoading" class="loading-container">
  <p>Loading...</p>
</div>

<div *ngIf="!isLoading && (!contact || !contact.companyId)" class="warning-container">
  <p class="warning-text">No company ID is associated with your profile. Job postings are not available.</p>
</div>

<div *ngIf="!isLoading && jobs.length === 0 && contact?.companyId">
  <p>This company has no job postings.</p>
</div>

<div class="add-job-icon">
  <button mat-icon-button (click)="toggleAddJobForm()">
    <mat-icon>{{ showAddJobForm ? 'close' : 'add_circle' }}</mat-icon>
  </button>
</div>

<div *ngIf="!isLoading && jobs.length > 0">
  <h2>Job Postings</h2>

  <!-- Job hozzáadása form -->
  <div *ngIf="showAddJobForm" class="job-form-container">
    <form [formGroup]="jobForm" (ngSubmit)="createJob()">
      <div class="form-fields-grid">
        <mat-form-field appearance="fill">
          <mat-label>Position</mat-label>
          <input matInput formControlName="position" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Work Location</mat-label>
          <input matInput formControlName="work_location" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Job Type</mat-label>
          <input matInput formControlName="type" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Probation Period</mat-label>
          <input matInput formControlName="testing_time" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Status </mat-label>
          <mat-select formControlName="status">
            <mat-option value="ACTIVE">Active</mat-option>
            <mat-option value="INACTIVE">Inactive</mat-option>
            <mat-option value="CLOSED">Closed</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Education</mat-label>
          <input matInput formControlName="education" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" class="description-textarea"></textarea>
        </mat-form-field>
      </div>

      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="!jobForm.valid">Save</button>
      </div>
    </form>
  </div>

  <!-- Álláshirdetések listája -->
  <ul class="job-list">
    <li *ngFor="let job of jobs" class="job-item">
      <div class="job-details">
        <!-- Edit mode -->
        <ng-container *ngIf="editedJobId === job.id; else viewMode">
          <form [formGroup]="editJobForm">
            <mat-form-field appearance="fill">
              <mat-label>Position</mat-label>
              <input matInput formControlName="position" />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Work Location</mat-label>
              <input matInput formControlName="work_location" />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Job Type</mat-label>
              <input matInput formControlName="type" />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Probation Period</mat-label>
              <input matInput formControlName="testing_time" />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option value="ACTIVE">Active</mat-option>
                <mat-option value="INACTIVE">Inactive</mat-option>
                <mat-option value="CLOSED">Closed</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Education</mat-label>
              <input matInput formControlName="education" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description" class="description-textarea"></textarea>
            </mat-form-field>

            <div class="form-actions">
              <button mat-button color="primary" (click)="saveJob(job.id)">Save</button>
              <button mat-button type="button" (click)="cancelEdit()">Cancel</button>
            </div>
          </form>
        </ng-container>

        <!-- View mode -->
        <ng-template #viewMode>
          <h3>{{ job.position }}</h3>
          <p><strong>Work Location:</strong> {{ job.work_location }}</p>
          <p><strong>Job Type:</strong> {{ job.type }}</p>
          <p><strong>Probation Period:</strong> {{ job.testing_time }}</p>
          <p><strong>Status:</strong> {{ job.status }}</p>
          <p><strong>Posted On:</strong> {{ job.date.toDate() | date: 'mediumDate' }}</p>
          <p><strong>Education:</strong> {{ job.education }}</p>
          <p><strong>Description:</strong> {{ job.description }}</p>
          <button mat-icon-button (click)="editJob(job)">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteJob(job.id)" class="delete-button">🗑️ Delete</button>
        </ng-template>
      </div>
    </li>
  </ul>
</div>
